<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://staffemailsignatures.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>staffemailsignatures.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StaffEmailSignatures</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StaffEmailSignatures</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StaffDirectoryEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=e4lhpiw6ph.database.windows.net;Initial Catalog=StaffDirectory;User ID=DuesPolicyDB;Password=Duespolicy633;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StaffEmailSignatures.Models.StaffDirectoryEntities, StaffEmailSignatures" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=e4lhpiw6ph.database.windows.net;Initial Catalog=StaffDirectory;User ID=DuesPolicyDB;Password=Duespolicy633;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StaffEmailSignatures.Models.TenantDbContext, StaffEmailSignatures" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>theurj.onmicrosoft.com</ADDomain>
    <ADAppIDUri>https://theurj.onmicrosoft.com/WebApp-staffemailsignatures.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>f287dfde-bbbc-483d-855d-801f14bfdcb7</ADClientAPPID>
    <ADClientPassword />
    <ADReplyUrl>https://staffemailsignatures.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/theurj.onmicrosoft.com/wsfed</ADIssuer>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=e4lhpiw6ph.database.windows.net;Initial Catalog=StaffDirectory;User ID=DuesPolicyDB;Password=Duespolicy633;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StaffDirectoryEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.StaffDirectoryDataModel.csdl|res://*/Models.StaffDirectoryDataModel.ssdl|res://*/Models.StaffDirectoryDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=e4lhpiw6ph.database.windows.net;Initial Catalog=StaffDirectory;User ID=DuesPolicyDB;Password=Duespolicy633;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>